.header { /* Style pour le logo */
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    text-align: center;
}

body {
  background-color: #eaebed;
    font-family: Arial, Helvetica, sans-serif;
}
h1 { /* Style pour le titre principal */
  color: #38b6ff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
}
.section { /* Style pour le corps de la page */
  font-size: 17px;
  margin: 20px;
  color: #000000; /* Couleur du texte */
  text-align: center;
}
h2 { /* Style pour le sous-titre */
  color: #38b6ff;
  font-size:large;
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 40px;
}

h3 { /* Style pour le sous-titre */
  color: #38b6ff;
  font-size: large;
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 40px;
}
.titre-section { /* Style pour les titres de section */
  font-size: 20px;
  color: #38b6ff;
  text-align: center;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: -10px;
}

/* Style des liens officiels */
    .gouv-links {
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    margin-inline-start: 0rem;
    line-height: 1;
    text-align: center;
    list-style: none;
    }
    .gouv-links a {
        color: #000203;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1.125rem;
        background-color: #00e273;
        color: #fff;
        border-radius: 0.375rem;
        font-weight: 500;
        border: none;
        box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.08);
        width: 13.75rem;
        text-align: center;
        margin: 5px;
        }
    .gouv-links a:hover {
        background-color: #019950;
        }
  .merci { /* Style pour la section remerciements */
      font-size: 17px;
      margin: 20px;;
      color: #000000; /* Couleur du texte */
      text-align: center;
}

b { /* Style pour le lien contact */
  color: #38b6ff;
  font-size: 17px;
  text-decoration: none;
}
b:hover { /* Style pour le lien contact au survol */
  text-decoration: underline;
  font-size: 17px;
  color: #00e273;
}